/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    background-color: #e6e6fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;

}

.item {
    width: 100px;
    height: 50px;
    border-radius: 0.5rem;
    background-color: #4b0082;
    color: #f2f2f2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    opacity: 0;
    animation: fade-in 0.5s forwards;
    animation-delay: calc( 0.1s * var(--i) );
}

/**** Animation fade-in ****/

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}